$large-screen: 1350px;
$table: 864px;
$mobile: 546px;

@media (max-width: $large-screen) {
	.header-inner {
		padding: 0 2rem;
		&.active {
			padding: 0 2rem;
		}
	}
}

@media (max-width: 1140px) {
	.header-inner {
		height: 54px;
		padding: 1rem;

		&.active {
			height: 54px;
			padding: 1rem;

			& .header-inner__btn {
				height: 39px;
			}
		}
		&__menu,
		&__line {
			display: none;
		}
		&__btn {
			margin-right: 2rem;
		}
		&__logo {
			height: 42px;
			& img {
				height: 100%;
			}
		}
	}

	.content {
		margin-top: 2rem;
	}

	.hamburger {
		display: flex;
	}
}
@media (max-width: 976px) {
	.px-2rem {
		padding: 0 2rem;
	}
	.info {
		&-container {
			max-width: 50rem;
			margin: 3rem auto 0 auto;
			flex-direction: column;
			padding: 0 2rem;
			&__left,
			&__right {
				padding: 0;
				border: none;
			}
			&__right {
				margin-top: 4rem;
				& > .info-items:nth-child(odd) {
					flex-direction: row-reverse;
					& > .info-items__text {
						padding-left: 0;
						padding-right: 2.5rem;
					}
				}
				& > .info-items:nth-child(even) {
					flex-direction: row;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.slider-title {
		padding: 0 2rem;
	}
	// Info section
	.info {
		&-items {
			flex-direction: column;
			&:nth-child(even) {
				flex-direction: column;
			}
			&:nth-child(odd) {
				flex-direction: column;
			}
			&__text {
				padding: 0;
			}
			& > div:last-child {
				padding-top: 2rem;
			}
		}
		&-title {
			padding: 0 2rem;
		}
	}

	.info-container {
		&__right {
			margin-top: 4rem;
			& > .info-items:nth-child(odd) {
				flex-direction: column;
			}
			& > .info-items:nth-child(even) {
				flex-direction: column;
			}
		}
	}
	.video {
		&-title {
			margin-left: 0;
			padding: 0 2rem;
		}
		&-container {
			padding: 0 2rem;
			flex-direction: column-reverse;
			align-items: center;
			justify-items: center;
		}
	}
	.world-container {
		padding: 0 2rem;
	}
	.backed-by__container {
		& > a {
			width: 33.333333333%;
			padding: 2rem;
			align-self: center;
		}
	}

	.feature {
		&-container {
			&__items {
				width: 33.333333%;
			}
		}
	}

	.left-box {
		left: auto;
	}
	.right-box {
		opacity: 0.5;
	}
}

@media (max-width: $mobile) {
	.text-wrapper {
		padding: 0 2rem;
	}
	.text-heading {
		font-size: 42px;
	}
	.text-title {
		font-size: 32px;
	}

	.btn-primary {
		min-width: 0;
		width: 80%;
	}
	.backed-by__container {
		& > a {
			width: 50%;
			padding: 2rem;
			align-self: center;
		}
	}
	.header {
		&-inner {
			padding: 0 1rem;
			&__btn {
				width: 120px;
			}
		}
	}
	.feature {
		&-container {
			&__items {
				width: 50%;
			}
		}
	}
	.btn-group {
		flex-direction: column;
		.btn {
			width: 100%;
			&-secondary {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}
}
