*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'EuclidCircular';
  src: url("./assect/font/EuclidCircularA-Light.woff") format("woff");
}

@font-face {
  font-family: 'Gobold';
  src: url("./assect/font/Gobold.ttf.woff") format("woff");
}

body {
  background-color: #000000;
}

.top-banner {
  height: 9px;
  background-image: url(./assect/images/topborder.png);
}

.header {
  background-color: #000000;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-inner {
  height: 104px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner__logo {
  height: 100%;
}

.header-inner__logo img {
  height: 100%;
}

.header-inner__line {
  margin: 0 45px;
  width: 1px;
  height: 43px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333333;
}

.header-inner__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner__menu .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.header-inner__toggle {
  margin-left: auto;
}

.header-inner__btn {
  width: 170px;
  height: 39px;
}

.header-inner.active {
  height: 54px;
  padding: 5px 0;
}

.header-inner.active > .header-inner__line {
  height: 29px;
  margin: 0 1rem;
}

.header-inner.active .text {
  font-size: 14px;
}

.header-inner.active .text::after {
  height: 1px;
  bottom: -5px;
}

.header-inner.active .header-inner__btn {
  height: 30px;
}

.icon-social {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.icon-social > img {
  height: 20px;
}

.text {
  color: white;
  margin-right: 43px;
  line-height: 21px;
  font-weight: 600;
  font-family: 'EuclidCircular';
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.text::after {
  content: '';
  background-color: #fff;
  width: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  height: 2px;
  bottom: -10px;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.text:hover::after {
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
}

.text.lge {
  -webkit-animation: change_color 1s infinite alternate;
          animation: change_color 1s infinite alternate;
}

@-webkit-keyframes change_color {
  from {
    color: white;
  }
  to {
    color: #fc307b;
  }
}

@keyframes change_color {
  from {
    color: white;
  }
  to {
    color: #fc307b;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container.text-wrapper {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: -4.5rem;
  border-bottom: 2px solid #333333;
}

.bgc {
  background: url(./assect/images/back.png) repeat-x, -webkit-gradient(linear, left top, left bottom, from(#212121), color-stop(70%, #000000));
  background: url(./assect/images/back.png) repeat-x, linear-gradient(to bottom, #212121 0%, #000000 70%);
  height: 150px;
}

.content {
  background-color: #000000;
  min-height: 200vh;
  margin-top: 100px;
}

.text-heading {
  font-size: 72px;
  line-height: 79px;
  font-family: 'Gobold';
  background: linear-gradient(104deg, #fc307b 0%, #a22dc9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.text-title {
  color: white;
  margin-top: 2rem;
  font-size: 42px;
  font-family: 'EuclidCircular';
}

.bold {
  font-weight: 600;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary {
  min-width: 367px;
  height: 39px;
  padding: 2.5rem 5px;
  margin: 45px auto;
  margin-bottom: 45px;
}

.btn-primary-title {
  font-size: 27px;
}

.btn-secondary {
  height: 39px;
  padding: 1.9rem 3rem;
}

.btn-secondary:last-child {
  margin-left: 2rem;
}

.btn-secondary:last-child::after {
  background: linear-gradient(104deg, #2c92ef 0%, #2c92ef 100%);
}

.btn-secondary:last-child::before {
  background: linear-gradient(104deg, #5fd9dd 0%, #2c92ef 100%);
}

.btn-secondary span {
  font-size: 16px;
}

.btn > span {
  position: relative;
  z-index: 1;
  color: #fff;
  color: white;
  font-weight: 600;
  font-family: 'EuclidCircular', Arial;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn::before {
  background: linear-gradient(104deg, #fc307b 0%, #a22dc9 100%);
}

.btn::after {
  background: linear-gradient(104deg, #a22dc9 0%, #a22dc9 100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.btn:hover::after {
  opacity: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  padding: 1rem 0;
}

.flex .left-box {
  width: 100%;
  max-width: 550px;
  padding: 1.5rem 0;
  position: relative;
  z-index: 2;
}

.flex .left-box__title {
  font-size: 65px;
  line-height: 80px;
  color: #fff;
  font-family: 'Gobold', Arial;
}

.flex .left-box__title > span {
  color: #fc307b;
}

.flex .left-box__text {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  font-family: 'EuclidCircular', Arial;
  padding: 2rem 0;
  display: block;
  line-height: 37px;
}

.flex .left-box__text > span {
  font-weight: bold;
}

.flex .right-box {
  width: 100%;
  max-width: calc(100% - 550px);
  padding-left: 1rem;
  position: relative;
}

.grid-container {
  position: absolute;
  grid-gap: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-perspective: 100rem;
          perspective: 100rem;
  width: 50rem;
  margin-top: 5rem;
  height: 24rem;
  right: -55px;
  -webkit-transform: perspective(500px) rotateY(-14deg) rotateX(0deg) rotateZ(0deg) translateZ(0) translateX(-40px);
          transform: perspective(500px) rotateY(-14deg) rotateX(0deg) rotateZ(0deg) translateZ(0) translateX(-40px);
}

.grid-container__btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 1.2rem;
  overflow: hidden;
}

.grid-container__btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0px 0px 22px 11px rgba(91, 91, 91, 0.61);
          box-shadow: 0px 0px 22px 11px rgba(91, 91, 91, 0.61);
}

.grid-container__btn:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 4 / 3;
}

.grid-container__btn:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
}

.grid-container__btn:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / 3 / 7;
}

.grid-container__btn:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: 1 / 7 / 4 / 9;
}

.grid-container__btn:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 7 / 3;
}

.grid-container__btn:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 3 / 3 / 7 / 7;
}

.grid-container__btn:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: 4 / 7 / 7 / 9;
}

.padding-5 {
  padding: 5rem 0;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  min-height: 40rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./assect/images/back.png"), url("./assect/images/high.png") no-repeat;
  background-position: center;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.video-thumb {
  width: 400px;
}

.video-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  margin-left: 5rem;
}

.video-title__heading {
  font-size: 40px;
  font-family: 'Gobold', Arial;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 53px;
  margin-bottom: 4rem;
}

.video-title__heading > span {
  color: #fc307b;
}

.video-title__description {
  font-size: 23px;
  line-height: 37px;
  font-family: 'EuclidCircular', Arial;
}

.video-title__description > span {
  font-weight: bold;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-title {
  font-size: 40px;
  color: #fff;
  font-family: 'Gobold', Arial;
}

.slider-title > span {
  color: #fc307b;
}

.slider-container {
  height: 25rem;
  width: 100%;
}

.info {
  color: #fff;
}

.info-title {
  font-family: 'Gobold', Arial;
  font-size: 30px;
  margin: auto;
  text-align: center;
  max-width: 51rem;
  letter-spacing: 0.5px;
  line-height: 42px;
}

.info-title > span {
  color: #fc307b;
}

.info-container {
  margin-top: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-container__left, .info-container__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-container__left {
  border-right: 0.5px solid #333333;
  padding-right: 4.3rem;
}

.info-container__right {
  border-left: 0.5px solid #333333;
  padding-left: 4.3rem;
}

.info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.5rem;
}

.info-items__img {
  width: 200px;
  height: 200px;
}

.info-items__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 2.5rem;
}

.info-items__text-heading {
  font-family: 'Gobold', Arial;
  color: #fc307b;
  font-size: 26px;
  margin-bottom: 1.3rem;
}

.info-items__text-description {
  font-family: 'EuclidCircular', Arial;
  font-size: 18px;
  line-height: 32px;
}

.info-items:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info-items:nth-child(even) > div:last-child {
  padding-left: 0;
  padding-right: 2.5rem;
}

.info-items:last-child {
  margin-bottom: 1rem;
}

.text-title-sm {
  color: #fc307b;
  text-align: center;
  font-family: 'Gobold', Arial;
  font-size: 32px;
}

.text-title-sm > span {
  color: white;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.feature-container {
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-container__items {
  width: 16.6667%;
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feature-container__items > img {
  max-width: 150px;
}

.world {
  width: 100%;
  background: url("./assect/images/back.png"), url("./assect/images/high.png");
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.world-text {
  margin-top: 5rem;
}

.world-text__description {
  color: white;
  font-family: 'EuclidCircular';
  text-align: center;
  font-size: 22px;
  max-width: 51rem;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 2rem;
}

.world-container {
  padding: 0 10rem;
  margin: 3rem auto;
  width: 100%;
  background: url("./assect/images/earth.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.world-container__title {
  font-family: 'Gobold', Arial;
  color: #5dd4d8;
  font-size: 20px;
}

.world-container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.world-container__items:last-child {
  border-top: 0.5px solid #333333;
}

.world-container__items:first-child {
  border-bottom: 0.5px solid #333333;
}

.world-container__list {
  padding: 0;
}

.world-container__list > li {
  color: white;
  list-style: none;
}

.world-container__list > li > span {
  font-size: 16px;
  font-family: 'EuclidCircular', Arial;
}

.world-container__list > li::before {
  content: '\2022';
  color: #fc307b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.backed-by {
  margin-bottom: 1rem;
}

.backed-by__title {
  color: #fc307b;
  text-align: center;
  font-size: 28px;
  font-family: 'Gobold', Arial;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.5) !important;
}

.backed-by__container {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backed-by__container > a {
  width: 20%;
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.backed-by__container > a > img {
  max-width: 150px;
}

.footer {
  padding: 2rem 0 12rem 0;
}

.footer-container {
  margin: 0 auto;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer-container > p {
  font-family: 'EuclidCircular', Arial;
  font-size: 14px;
}

.footer-icons {
  width: 24px;
}

.footer-line {
  width: 1px;
  height: 23px;
  background-color: #333333;
  margin: 0 10px;
}

.footer-text {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-text > p {
  color: white;
  font-size: 14px;
  font-family: 'EuclidCircular', Arial;
}

.footer-text > p > span {
  color: #5dd4d8;
}

.footer-text > p:last-child {
  color: #5dd4d8;
}
/*# sourceMappingURL=style.css.map */