*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	width: 100%;
	height: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@font-face {
	font-family: 'EuclidCircular';
	src: url('./assect/font/EuclidCircularA-Light.woff') format('woff');
}

@font-face {
	font-family: 'Gobold';
	src: url('./assect/font/Gobold.ttf.woff') format('woff');
}

$black: #000000;
$cyan: #5dd4d8;
$red: #fc307b;
$radius: 10px;
$liner-primary: linear-gradient(104deg, #fc307b 0%, #a22dc9 100%);
$breakpoint: 1280px;
body {
	background-color: $black;
}

.top-banner {
	height: 9px;
	background-image: url(./assect/images/topborder.png);
}

.header {
	background-color: $black;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	&-inner {
		height: 104px;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		padding: 12px 0;
		align-items: center;
		&.active {
			height: 54px;
			padding: 5px 0;

			& > .header-inner__line {
				height: 29px;
				margin: 0 1rem;
			}
			& .text {
				font-size: 14px;
				&::after {
					height: 1px;
					bottom: -5px;
				}
			}
			& .header-inner__btn {
				height: 30px;
			}
		}

		&__logo {
			height: 100%;
			& img {
				height: 100%;
			}
		}
		&__line {
			margin: 0 45px;
			width: 1px;
			height: 43px;
			transition: all 0.3s ease-in-out;
			background-color: #333333;
		}

		&__menu {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			& .icons {
				display: flex;
				margin-left: 10px;
			}
		}

		&__toggle {
			margin-left: auto;
		}
		&__btn {
			width: 170px;
			height: 39px;
		}
	}
}
.icon-social {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	cursor: pointer;
	& > img {
		height: 20px;
	}
}

.text {
	color: white;
	margin-right: 43px;
	line-height: 21px;
	font-weight: 600;
	font-family: 'EuclidCircular';
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-in-out;
	&::after {
		content: '';
		background-color: #fff;
		width: 100%;
		transform: scale(0, 1);
		height: 2px;
		bottom: -10px;
		right: 0;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}
	&:hover::after {
		transform: scale(1, 2);
	}

	&.lge {
		animation: change_color 1s infinite alternate;
		@keyframes change_color {
			from {
				color: white;
			}
			to {
				color: $red;
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	&.text-wrapper {
		text-align: center;
		padding-bottom: 2rem;
		margin-top: -4.5rem;
		border-bottom: 2px solid #333333;
	}
}

.bgc {
	background: url(./assect/images/back.png) repeat-x,
		linear-gradient(to bottom, #212121 0%, #000000 70%);
	height: 150px;
}
.content {
	background-color: $black;
	min-height: 200vh;
	margin-top: 100px;
}

.text-heading {
	font-size: 72px;
	line-height: 79px;
	font-family: 'Gobold';
	background: $liner-primary;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 2px;
}

.text-title {
	color: white;
	margin-top: 2rem;
	font-size: 42px;
	font-family: 'EuclidCircular';
}

.bold {
	font-weight: 600;
}
.btn-group {
	display: flex;
}
.btn {
	outline: none;
	border: none;
	border-radius: $radius;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	&-primary {
		min-width: 367px;
		height: 39px;
		padding: 2.5rem 5px;
		margin: 45px auto;
		margin-bottom: 45px;
		&-title {
			font-size: 27px;
		}
	}

	&-secondary {
		height: 39px;
		padding: 1.9rem 3rem;
		&:last-child {
			margin-left: 2rem;
			&::after {
				background: linear-gradient(104deg, #2c92ef 0%, #2c92ef 100%);
			}
			&::before {
				background: linear-gradient(104deg, #5fd9dd 0%, #2c92ef 100%);
			}
		}
		& span {
			font-size: 16px;
		}
	}
	& > span {
		position: relative;
		z-index: 1;
		color: #fff;
		color: white;
		font-weight: 600;
		font-family: 'EuclidCircular', Arial;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&::before {
		background: $liner-primary;
	}
	&::after {
		background: linear-gradient(104deg, #a22dc9 0%, #a22dc9 100%);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	&:hover::after {
		opacity: 1;
	}
}

.flex {
	display: flex;
	margin: 2rem 0;
	padding: 1rem 0;

	& .left-box {
		width: 100%;
		max-width: 550px;
		padding: 1.5rem 0;
		position: relative;
		z-index: 2;
		&__title {
			font-size: 65px;
			line-height: 80px;
			color: #fff;
			font-family: 'Gobold', Arial;
			& > span {
				color: $red;
			}
		}
		&__text {
			color: #fff;
			font-size: 23px;
			font-weight: 400;
			font-family: 'EuclidCircular', Arial;
			padding: 2rem 0;
			display: block;
			line-height: 37px;
			& > span {
				font-weight: bold;
			}
		}
	}
	& .right-box {
		width: 100%;
		max-width: calc(100% - 550px);
		padding-left: 1rem;
		position: relative;
	}
}

// Grid system
.grid-container {
	position: absolute;
	grid-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
	perspective: 100rem;
	width: 50rem;
	margin-top: 5rem;
	height: 24rem;
	right: -55px;
	transform: perspective(500px) rotateY(-14deg) rotateX(0deg) rotateZ(0deg)
		translateZ(0) translateX(-40px);
	&__btn {
		transition: all 0.3s ease-in-out;
		border-radius: 1.2rem;
		overflow: hidden;
		&:hover {
			transform: scale(1.08);
			box-shadow: 0px 0px 22px 11px rgba(91, 91, 91, 0.61);
		}

		&:nth-child(1) {
			grid-area: 1 / 1 / 4 / 3;
		}
		&:nth-child(2) {
			grid-area: 1 / 3 / 3 / 5;
		}
		&:nth-child(3) {
			grid-area: 1 / 5 / 3 / 7;
		}
		&:nth-child(4) {
			grid-area: 1 / 7 / 4 / 9;
		}
		&:nth-child(5) {
			grid-area: 4 / 1 / 7 / 3;
		}
		&:nth-child(6) {
			grid-area: 3 / 3 / 7 / 7;
		}
		&:nth-child(7) {
			grid-area: 4 / 7 / 7 / 9;
		}
	}
}
.padding-5 {
	padding: 5rem 0;
}

.video {
	display: flex;
	background-color: white;
	min-height: 40rem;
	justify-content: center;
	align-items: center;
	background: url('./assect/images/back.png'),
		url('./assect/images/high.png') no-repeat;
	background-position: center;
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}
	&-thumb {
		width: 400px;
	}
	&-title {
		flex: 1;
		color: white;
		margin-left: 5rem;
		&__heading {
			font-size: 40px;
			font-family: 'Gobold', Arial;
			letter-spacing: 0;
			font-weight: 600;
			line-height: 53px;
			margin-bottom: 4rem;
			& > span {
				color: $red;
			}
		}
		&__description {
			font-size: 23px;
			line-height: 37px;
			font-family: 'EuclidCircular', Arial;
			& > span {
				font-weight: bold;
			}
		}
	}
}

#dlo {
	scroll-margin-top: 30vh;
}
// Slider system
.slider {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: $black;
	&-title {
		margin-top: -3rem;
		font-size: 40px;
		color: #fff;
		font-family: 'Gobold', Arial;
		& > span {
			color: $red;
		}
	}
	&-container {
		margin-top: 3rem;
		width: 100%;
		max-width: 64rem;

		&__items {
			background-color: $black;
			width: 100%;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__text {
			color: #fff;
			font-size: 24px;
			font-family: 'EuclidCircular', Arial;
			margin-bottom: 2rem;
			& > span {
				color: $cyan;
			}
		}
		&__img {
			height: 14rem;
			margin-top: 2rem;
			& > img {
				object-fit: contain;
			}
		}
	}
	&-dots {
		width: 100%;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $black;

		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin: 0 16px;

				button {
					font-size: 0;
					width: 0.8rem;
					height: 0.8rem;
					border-radius: 100%;
					background-color: #333333;
					border: none;
				}
				&.slick-active {
					button {
						background-color: $cyan;
					}
				}
			}
		}
	}
}

.items-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Info section
.info {
	margin-top: 4rem;
	color: #fff;
	&-title {
		font-family: 'Gobold', Arial;
		font-size: 30px;
		margin: auto;
		text-align: center;
		max-width: 51rem;
		letter-spacing: 0.5px;
		line-height: 42px;
		& > span {
			color: $red;
		}
	}
	&-container {
		margin-top: 3rem;
		flex-direction: row;

		&__left,
		&__right {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		&__left {
			border-right: 0.5px solid #333333;
			padding-right: 4.3rem;
		}
		&__right {
			border-left: 0.5px solid #333333;
			padding-left: 4.3rem;
		}
	}

	&-items {
		display: flex;
		margin-bottom: 5.5rem;
		scroll-margin-top: 50vh;
		&__img {
			width: 200px;
			height: 200px;
		}
		&__text {
			flex: 1;
			padding-left: 2.5rem;
			&-heading {
				font-family: 'Gobold', Arial;
				color: $red;
				font-size: 26px;
				margin-bottom: 1.3rem;
			}
			&-description {
				font-family: 'EuclidCircular', Arial;
				font-size: 18px;
				line-height: 32px;
			}
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
			& > div:last-child {
				padding-left: 0;
				padding-right: 2.5rem;
			}
		}
		&:last-child {
			margin-bottom: 1rem;
		}
	}
}

.text-title-sm {
	color: $red;
	text-align: center;
	font-family: 'Gobold', Arial;
	font-size: 32px;
	& > span {
		color: white;
	}
}

// Feature
.feature {
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	&-container {
		margin: 2rem 0;
		padding: 2rem 0;
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__items {
			width: 16.6667%;
			padding: 2rem;
			align-self: center;
			& > img {
				max-width: 150px;
			}
		}
	}
}

.world {
	width: 100%;
	background: url('./assect/images/back.png'), url('./assect/images/high.png');
	padding-top: 5rem;
	padding-bottom: 3rem;
	&-text {
		margin-top: 5rem;
		&__description {
			color: white;
			font-family: 'EuclidCircular';
			text-align: center;
			font-size: 22px;
			max-width: 51rem;
			line-height: 36px;
			margin: 0 auto;
			margin-top: 2rem;
		}
	}
	&-container {
		padding: 0 10rem;
		margin: 3rem auto;
		width: 100%;
		background: url('./assect/images/earth.png') no-repeat;
		background-color: rgba(0, 0, 0, 0.5);
		&__title {
			font-family: 'Gobold', Arial;
			color: $cyan;
			font-size: 20px;
		}
		&__items {
			display: flex;
			flex-direction: column;
			padding: 3rem 0;
			&:last-child {
				border-top: 0.5px solid #333333;
			}
			&:first-child {
				border-bottom: 0.5px solid #333333;
			}
		}

		&__list {
			padding: 0;

			& > li {
				color: white;
				list-style: none;
				& > span {
					font-size: 16px;
					font-family: 'EuclidCircular', Arial;
				}
				&::before {
					content: '\2022';
					color: $red;
					font-weight: bold;
					display: inline-block;
					width: 1em;
				}
			}
		}
	}
}

.backed-by {
	margin-bottom: 1rem;
	&__title {
		color: $red;
		text-align: center;
		font-size: 28px;
		font-family: 'Gobold', Arial;
		text-shadow: 0 0 50px rgba(255, 255, 255, 0.5) !important;
	}
	&__container {
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
		display: flex;
		flex-wrap: wrap;
		padding: 1rem 0;
		justify-content: center;
		& > a {
			width: 20%;
			padding: 2rem;
			align-self: center;
			& > img {
				max-width: 150px;
			}
		}
	}
}

.footer {
	padding: 2rem 0 12rem 0;
	&-container {
		margin: 0 auto;
		max-width: 480px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: white;

		& > p {
			font-family: 'EuclidCircular', Arial;
			font-size: 14px;
		}
	}
	&-icons {
		width: 24px;
	}
	&-line {
		width: 1px;
		height: 23px;
		background-color: #333333;
		margin: 0 10px;
	}
	&-text {
		max-width: max-content;
		margin: 0 auto;
		margin-top: 3rem;
		display: flex;
		& > p {
			color: white;
			font-size: 14px;
			font-family: 'EuclidCircular', Arial;
			& > span {
				color: $cyan;
			}
			&:last-child {
				color: $cyan;
			}
		}
	}
}
